<section class="assistance">
    <div class="assistance__container container">
      <h1 class="assistance__container__title">
        Frequently asked questions
      </h1>
      <div class="assistance__container__wrapper">
        <div class="assistance__container__wrapper__select">
          <div class="assistance__container__wrapper__select__input">
            <h3 class="assistance__container__wrapper__select__input__text">
              About the devices
            </h3>
          </div>
        </div>
        <div class="assistance__container__wrapper__select">
          <div class="assistance__container__wrapper__select__input">
            <h3 class="assistance__container__wrapper__select__input__text">
              About the plans
            </h3>
          </div>
        </div>
        <div class="assistance__container__wrapper__select">
          <div class="assistance__container__wrapper__select__input">
            <h3 class="assistance__container__wrapper__select__input__text">
              About failures
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
