<section class="products">
  <div class="products__container container">
    <h1 class="products__container__title">
      Products
    </h1>
    <div class="products__container__wrapper">
      <div class="products__container__wrapper__cnt">
        <div class="products__container__wrapper__cnt__box">
          <div class="products__container__wrapper__cnt__box__img">
            <img class="products__container__wrapper__cnt__box__img__imagen" src="../../assets/phone.png">
          </div>
          <div class="products__container__wrapper__cnt__box__text">
            <h2>
              New LI
            </h2>
            <span>
              <strong>Model:</strong> LI Note 5
            </span>
            <span>
              <strong>Price:</strong> $22000
            </span>
          </div>
        </div>
        <div class="products__container__wrapper__cnt__box">
          <div class="products__container__wrapper__cnt__box__img">
            <img class="products__container__wrapper__cnt__box__img__imagen" src="../../assets/phone2.png">
          </div>
          <div class="products__container__wrapper__cnt__box__text">
            <h2>
              New LU
            </h2>
            <span>
              <strong>Model:</strong> LU Pro 6
            </span>
            <span>
              <strong>Price:</strong> $23000
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>